*{
  font-family: 'Work Sans', sans-serif;
}
body { 
    margin: 0;
    padding: 0;
  }
  
  /* Središnji wrapper koji drži sav sadržaj */
  .app-wrapper {
    background-color: #b9b5b5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  